<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.deineapp.fahrtenbuch_app">

    <application
        android:allowBackup="true"
        android:name=".FahrtenApp"
        android:icon="@mipmap/ic_launcher"
        android:label="Fahrtenbuch App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FahrtenbuchApp">
        <activity
            android:name=".ActivityAdd"
            android:exported="false" />
        <activity
            android:name=".FahrtenActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>